<div class="comment">
    <%= link_to 'X', [comment.article, comment],
                method: :delete,
                data: { confirm: 'Are you sure?' },:class => 'pull-right' %>
    <% @article.comments.each do |comment| %>
            <h4>
              <strong><%= comment.commenter %>:</strong>
                <%= comment.body %>
            </h4>
    <% end %>
</div>