<%= form_for([@article, @article.comments.build]) do |f| %>
    <p>
      <%= f.label :commenter %><br>
      <%= f.text_field :commenter %>
    </p>
    <p>
      <%= f.label :body %><br>
      <%= f.text_area :body ,:class=> 'col-md-8' %>
    </p>
    <br><br><br><br>
    <p>
      <%= f.submit %>
    </p>
<% end %>