<div class="container wew">
  <h2>All articles</h2><h4><%= page_entries_info @articles %>s</h4>
      <div class="row">
        <% @articles.each do |article| %>
          <div class="col-sm-6 col-md-3">
            <div class="thumbnail user-pic">
              <div class="articles-image-holder">
                <%= image_tag article.picture, :class=>'image img-responsive col-md-12' %>
              </div>
              <div class="caption">
                <h3><%= article.title %></h3>
                <p>Description:<%= article.text %></p>
                <%= pluralize(article.votes.count, "vote") %>
                <p><%= button_to 'Vote +1', upvote_article_path(article), :class=> 'btn btn-primary', method: :post %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <%= paginate @articles , :param_name => "articles", :theme => 'twitter-bootstrap-3',
               :pagination_class => 'pagination-small pagination-centered pull-right'%>
</div>
