<!-- Header -->
<div id="top-nav" class="navbar navbar-inverse navbar-dynamic-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-toggle"></span>
      </button>
      <a class="navbar-brand" href="#">For Him Magazine</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
            <%= image_tag @profile_pic, :class => 'img-circle img-avatar'%>&nbsp;&nbsp;<%= @sessName %> <span class="caret"></span></a>
          <ul id="g-account-menu" class="dropdown-menu" role="menu">
            <li><%= link_to 'New article', new_article_path %></li>
            <li><%= link_to "Settings", edit_user_path(current_user) %></li>
            <li><a href="log_out"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div><!-- /container -->
</div>
<!-- /Header -->