<%= render 'articles/header'%>
<div class="container wew">
<h1>Editing article</h1>
<%= form_for :article, url: article_path(@article), method: :patch do |f| %>
    <% if @article.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@article.errors.count, "error") %> prohibited
            this article from being saved:
          </h2>
          <ul>
            <% @article.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <h1>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </h1>
    <h1>
      <%= f.label :Description %><br>
      <%= f.text_area :text %>
    </h1><br><br>
      <%= f.label :picture %><br>
      <%= f.file_field :picture %>
    <h1>
      <%= f.submit %>
    </h1>
<% end %>
<%= link_to 'Back', articles_path,:class=>'btn btn-primary' %>
</div>
