<%= render 'articles/header' %>
<div class="container wew">
  <h1>Listing articles</h1>
  <div class="list-article">
     <h4><%= page_entries_info @articles %>s</h4>
      <div class="row">
        <% @articles.each do |article| %>
            <div class="col-sm-6 col-md-3">
              <div class="thumbnail user-pic">
                <div class="articles-image-holder">
                  <%= image_tag article.picture, :class=>'image img-responsive col-md-12' %>
                </div>
                <div class="caption">
                  <h3><%= article.title %></h3>
                  <p>Description:<%= article.text %></p>
                  <p class="admin-button"><%= link_to 'Show', article_path(article),:class=>'btn btn-success' %>
                    <%= link_to 'Edit', edit_article_path(article),:class=>'btn btn-info' %>
                    <%= link_to 'Destroy', article_path(article),
                                method: :delete,
                                data: { confirm: 'Are you sure?' },:class=>'btn btn-danger  ' %></p>
                </div>
              </div>
            </div>
        <% end %>
      </div>
      <%= paginate @articles , :param_name => "articles", :theme => 'twitter-bootstrap-3',
                   :pagination_class => 'pagination-small pagination-centered pull-right'%>
  </div>
</div>