<%= render 'articles/header'%>
<div class="container wew">
  <h1>Add new article</h1>
    <%= form_for :article, url: articles_path do |f| %>
        <h1>
          <%= f.label :title %><br>
          <%= f.text_field :title %>
        </h1>
        <h2>
          <%= f.label :Description %><br>
          <%= f.text_area :text %>
        </h2>
        <h3>
        <%= f.label :Picture %><br>
        <%= f.file_field :picture %>
        </h3>
        <h4>
          <%= f.submit %>
        </h4>
    <% end %>

<%= link_to 'Back', articles_path, :class => 'btn btn-primary' %>
</div>