<%= render 'articles/header'%>
<div class="container wew">
  <h1>Show</h1>
  <div class="show col-md-5">
        <h2>
          <strong>Picture:</strong>
        </h2>
          <%= image_tag @article.picture, :class => 'img-thumbnail' %>

        <h2>
          <strong>Title:</strong>
          <%= @article.title %>
        </h2>
        <h2>
          <strong>Description:</strong>
          <%= @article.text %>
        </h2>
   </div>
  <div class=" col-md-5">
    <h4>Comments</h4>
    <div class="display-comment">
       <%= render @article.comments %>
    </div>
  <h4>Add a comment:</h4>
     <%= render 'comments/form' %>
    <%= link_to 'Back', articles_path, :class => 'btn btn-primary' %> |
    <%= link_to 'Edit', edit_article_path(@article), :class => 'btn btn-primary' %>
  </div>
 </div>