.wew{
  height: 100%;
  background-color: #8aa6c1;
  border-radius: 2px;
}
.show {
  background-color: #245269;
  border-radius: 10px;
  color: #fff;
}
.show strong{
  color: #f7e1b5;
}
td{
  background-color: #000000;
  color: #fff;
}
th{
  background-color: #000000;
  color: #fff;
  font-size: 2em;
}
.admin-button{
  text-align: center;
}
.display-comment{
  height: 100%;
  max-height: 150px;
  width: 650px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.comment h4{
  background-color: #fff;
  color: #000 ;
}
.img-avatar{
  width: 34px;
  height: 34px;
}