// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.profile-pic h4{
  text-align: center;
}
.mainbox{
  margin-top: 130px;
}
.login{
  margin-top: 100px;
}
.articles-image-holder{
  background: rgb(208, 207, 207);
  padding: 7px;
  height:300px;
  text-align: center;
  cursor: pointer;
  .image{
    max-width: 100%;
    max-height:100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.edit-image-holder{
  background: rgb(208, 207, 207);
  padding: 7px;
  height:200px;
  text-align: center;
  cursor: pointer;
  .image{
    max-width: 100%;
    max-height:100%;
    height: auto;
    display: block;
    margin-left: 15%;
    margin-right: 15%;
  }
}

