<div class="container">
  <div id="loginbox" class="login mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">Sign In</div>
        <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>
      </div>

      <div style="padding-top:30px" class="panel-body">
        <%= form_tag :action => 'process_login' %>

        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

        <form id="loginform" class="form-horizontal" role="form">

          <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <%= text_field_tag :email, params[:email], :class => 'form-control', :placeholder=>'Email Address' %>
          </div>

          <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <%= text_field_tag :password, params[:password], :type => 'password', :class => 'form-control',:placeholder=>'Password' %>
          </div>


          <div class="input-group">
            <div class="checkbox">
              <label>
                <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
              </label>
            </div>
          </div>
          <div style="margin-top:10px" class="form-group">
            <!-- Button -->
            <div class="col-sm-12 controls">
              <%= submit_tag "Login", :class => 'btn btn-success' %>
              <%= link_to 'Sign-up', users_new_path , :class=> 'btn btn-primary' %>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
