<div class="container">
  <h1>User Info</h1>
    <div class=" pull-right">
        <a href="log_out" class="btn btn-primary">Logout</a></li>
    </div>
  <div class="content col-md-12 well">
    <div class="col-md-12 ">
      <div class="col-lg-2 profile-pic well">
        <%= image_tag @profile_pic , :class => 'img-thumbnail' %>
         <h4><b><%= @sessName %></b></h4>
      </div>
    </div>
  </div>
</div>