<div class="container">
    <div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">Sign Up</div>
          <div style="float:right; font-size: 85%; position: relative; top:-10px"><%= link_to 'Sign-in' , :log_in %></div>
        </div>
        <div class="panel-body form-horizontal" >
          <%= form_for @user do |f| %>
              <% if @user.errors.any? %>
                  <div class="alert alert-danger">
                    <h2>Form is invalid</h2>
                    <ul>
                      <% for message in @user.errors.full_messages %>
                          <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
              <% end %>
              <div class="form-group">
                <label for="email" class="col-md-3 control-label">Email</label>
                <div class="col-md-9">
                  <%= f.text_field :email, :class=>'form-control', :placeholder=>'Email'%>
                </div>
              </div>
              <div class="form-group">
                <label for="firstname" class="col-md-3 control-label">Firstname</label>
                <div class="col-md-9">
                  <%= f.text_field :firstname, :class=>'form-control', :placeholder=>'Firstname'%>
                </div>
              </div>
              <div class="form-group">
                <label for="lastname" class="col-md-3 control-label">Lastname</label>
                <div class="col-md-9">
                  <%= f.text_field :lastname, :class=>'form-control', :placeholder=>'Lastname'%>
                </div>
              </div>
            <div class="form-group">
              <label for="password" class="col-md-3 control-label">Password</label>
              <div class="col-md-9">
                <%= f.password_field :password, :class=>'form-control', :placeholder=>'Password'%>
              </div>
            </div>
            <div class="form-group">
              <label for="Confirm-password" class="col-md-3 control-label">Confirm password</label>
              <div class="col-md-9">
                <%= f.password_field :password_confirmation, :class=>'form-control', :placeholder=>'Confirm password'%>
              </div>
            </div>
            <div class="form-group">
                <%= f.label 'Profile Picture', :class => 'text-align-left col-md-3 control-label' %>
                <div class="col-lg-8">
                  <%= f.file_field :profile_pic, :class => 'form-control' %>
                </div>
              </div>
            <div class="form-group">
              <!-- Button -->
              <div class="col-md-offset-3 col-md-9">
                <p><%= submit_tag "Sign-up", :class => 'btn btn-info' %></p>
              </div>
            </div>
            <% end %>
        </div>
      </div>
   </div>
</div>